<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action = "/madlib" >
        State your name again <input type = "text" name = "name" id = "color" ><br>
        Choose a color <input type = "text" name = "colorpick" id = "color" ><br>
        Choose a noun <input type = "text" name = "nounpick" id = "color" ><br>
        Select an adjective 
            <select name = "adjectivepick"> 
                <option value = "cool">Cool</option>
                <option value = "funny">Funny</option>
                <option value = "intelligent">Intelligent</option>
                <option value = "strong">Strong</option>
                <option value = "direct">Direct</option>
            </select><br>
        <input type = "Submit">
    </form>
</body>
</html>